<h1>My Todos</h1>
<div class="alert alert-success" *ngIf="message">
  {{ message }}
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- in java would be for (todo : Todos) {}-->
      <tr *ngFor="let todo of todos">
        <td>{{ todo.description }}</td>
        <td>{{ todo.targetDate | date }}</td>
        <!--Adding the "|" pipe makes the date in a normal format instead of computer format-->
        <!--We can also add the following pipes: | uppercase, | lowercase, et-->
        <td>{{ todo.done }}</td>
        <!--todo is the for loop variable-->
        <td>
          <button (click)="deleteTodo(todo.id)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
