<h2>Todo</h2>

<div container>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">
    Enter valid date please
  </div>
  <div
    class="alert alert-warning"
    *ngIf="todoForm.dirty && description.invalid"
  >
    Enter valid description please
  </div>
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input
        class="form-control"
        type="text"
        name="description"
        required="required"
        minlength="5"
        [(ngModel)]="todo.description"
        #description="ngModel"
      />
    </fieldset>

    <fieldset class="form-group">
      <label>Target date</label>
      <input
        class="form-control"
        type="date"
        name="targeted"
        required="required"
        [ngModel]="todo.targetDate | date: 'yyy-MM-dd'"
        (ngModelChange)="todo.targetDate = $event"
        #targetDate="ngModel"
      />
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
