<h1>Login!</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf="invalidLogin == true">
    {{ errorMessage }}
  </div>
  <!--The == true is innecessary, since it takes a boolean value-->
  <div>
    User Name: <input type="text" name="username" [(ngModel)]="username" />
    <!-- ngModel is an angular feature that binds the value of this input named username to the model -->
    <!-- ngModel is double way data binding: when the data changes in the component.ts it changes on the page, and when it changes on the page it goes back to here-->

    Password:
    <input type="password" name="password" [(ngModel)]="password" />
    <!--We did data binding by using the variables username and password defined in the component.ts file-->
    <!-- Now let's do the banana in a box model for password-->

    <!-- Username: {{ username }} -->

    <!-- Now we are going to use event binding -->
    <button class="btn btn-success" (click)="handleBasicAuthenticationLogin()">
      Login
    </button>
    <!-- All the methods are defined in the login.component.ts -->
    <!--This method is just printing the username and the password in the console-->
    <!-- event binding allows us to bind an event (click) to a component event method-->
  </div>
</div>
